body {
  display: flex;
  flex-direction: column;
  min-height: var(--screen-height, 100vh);
}

body > .app {
  flex: auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.pageContent {
  max-width: 980px;
  margin: 0 auto;
}

.pageContent:is(h1)::first-letter {
  text-transform: uppercase;
}

.pagesButtons {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.pagesButtons .link {
  display: inline-block;
  padding: calc(var(--gap) * 0.25) calc(var(--gap));
  border-radius: 2pc;
}

.pagesButtons .link.active {
  background-color: var(--primary-color);
}
